<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.award.mapper.AwardBaseTypeMapper">
  <resultMap id="BaseResultMap" type="com.zyl.award.model.AwardBaseType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="award_name" jdbcType="VARCHAR" property="awardName" />
    <result column="award_type" jdbcType="INTEGER" property="awardType" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="pass_percentage" jdbcType="DOUBLE" property="passPercentage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>