<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.award.mapper.AwardMeetingMapper">
  <resultMap id="BaseResultMap" type="com.zyl.award.model.AwardMeeting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meeting_name" jdbcType="VARCHAR" property="meetingName" />
    <result column="award_year" jdbcType="SMALLINT" property="awardYear" />
    <result column="meeting_type" jdbcType="TINYINT" property="meetingType" />
    <result column="meeting_type_name" jdbcType="VARCHAR" property="meetingTypeName" />
    <result column="award_type_id" jdbcType="INTEGER" property="awardTypeId" />
    <result column="award_type_name" jdbcType="VARCHAR" property="awardTypeName" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="meeting_info" jdbcType="VARCHAR" property="meetingInfo" />
    <result column="meeting_verify" jdbcType="VARCHAR" property="meetingVerify" />
    <result column="round_id" jdbcType="INTEGER" property="roundId" />
    <result column="round_index" jdbcType="SMALLINT" property="roundIndex" />
    <result column="round_status_id" jdbcType="TINYINT" property="roundStatusId" />
    <result column="round_status_name" jdbcType="VARCHAR" property="roundStatusName" />
    <result column="order" jdbcType="TINYINT" property="order" />
    <result column="award_type_type" jdbcType="TINYINT" property="awardTypeType" />
    <result column="prize0_num" jdbcType="SMALLINT" property="prize0Num" />
    <result column="prize1_num" jdbcType="SMALLINT" property="prize1Num" />
    <result column="prize2_num" jdbcType="SMALLINT" property="prize2Num" />
    <result column="prize3_num" jdbcType="SMALLINT" property="prize3Num" />
    <result column="prize0_ret" jdbcType="SMALLINT" property="prize0Ret" />
    <result column="prize1_ret" jdbcType="SMALLINT" property="prize1Ret" />
    <result column="prize2_ret" jdbcType="SMALLINT" property="prize2Ret" />
    <result column="prize3_ret" jdbcType="SMALLINT" property="prize3Ret" />
    <result column="meeting_start_time" jdbcType="TIMESTAMP" property="meetingStartTime" />
    <result column="meeting_end_time" jdbcType="TIMESTAMP" property="meetingEndTime" />
    <result column="meeting_status_id" jdbcType="TINYINT" property="meetingStatusId" />
    <result column="meeting_status_name" jdbcType="VARCHAR" property="meetingStatusName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>