<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.award.business.mapper.MeetingRoundVoteObjMapper">
  <resultMap id="BaseResultMap" type="com.zyl.award.business.entity.po.MeetingRoundVoteObj">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meeting_id" jdbcType="INTEGER" property="meetingId" />
    <result column="meeting_name" jdbcType="VARCHAR" property="meetingName" />
    <result column="award_year" jdbcType="SMALLINT" property="awardYear" />
    <result column="award_type_type" jdbcType="SMALLINT" property="awardTypeType" />
    <result column="round_id" jdbcType="INTEGER" property="roundId" />
    <result column="round_index" jdbcType="SMALLINT" property="roundIndex" />
    <result column="expert_id" jdbcType="INTEGER" property="expertId" />
    <result column="expert_code" jdbcType="VARCHAR" property="expertCode" />
    <result column="expert_name" jdbcType="VARCHAR" property="expertName" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="obj_code" jdbcType="VARCHAR" property="objCode" />
    <result column="obj_name" jdbcType="VARCHAR" property="objName" />
    <result column="vote_prize_id" jdbcType="INTEGER" property="votePrizeId" />
    <result column="vote_prize_name" jdbcType="VARCHAR" property="votePrizeName" />
    <result column="vote_award_score" jdbcType="DECIMAL" property="voteAwardScore" />
    <result column="commit" jdbcType="TINYINT" property="commit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>