<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.award.mapper.TargetFractionMapper">
  <resultMap id="BaseResultMap" type="com.zyl.award.model.TargetFraction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="award_year" jdbcType="INTEGER" property="awardYear" />
    <result column="round_id" jdbcType="INTEGER" property="roundId" />
    <result column="round_index" jdbcType="SMALLINT" property="roundIndex" />
    <result column="meeting_id" jdbcType="INTEGER" property="meetingId" />
    <result column="meeting_name" jdbcType="VARCHAR" property="meetingName" />
    <result column="expert_id" jdbcType="INTEGER" property="expertId" />
    <result column="expert_code" jdbcType="VARCHAR" property="expertCode" />
    <result column="expert_name" jdbcType="VARCHAR" property="expertName" />
    <result column="award_id" jdbcType="SMALLINT" property="awardId" />
    <result column="award_type_type" jdbcType="SMALLINT" property="awardTypeType" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="obj_name" jdbcType="VARCHAR" property="objName" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="target_score" jdbcType="DECIMAL" property="targetScore" />
    <result column="submit" jdbcType="TINYINT" property="submit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>